.header{
    background-color: blue;
    height: 10%;
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    position: sticky;
    top: 0px;
    border: white solid;
    box-shadow: 0px 0px 2px 0px;
}
.navigation ul li{
    display: inline-block;
    padding-right: 30px;
    font-size: x-large;
}
.logo{
    color: blue;
    font-size: x-large;
    font-weight: 400;
    padding-right: 30px;
    padding-left: 25px;
    font: oblique;
}
input[type=text] {
   border-radius: 20px;
   padding: 10px 80px;
}
.box{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 160px;
    padding-right: 160px;
}
.nav{
    text-align: center;
}
.main{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}
.image{
    display: inline-block;
    margin: 30px 80px 10px 65px;
    color: black;
    width: 100px;
}
.image img{
    width: 200px;
    height: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 100px;
    box-shadow: 0px 0px 2px 0px;
}
.heading{
    margin-left: 70px;
    color: grey;
}
.hero1{
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 10px;
}
.hero1 img{
    border-radius: 10px;
}
.hero2{
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 10px;
}
.hero2 img{
    border-radius: 10px;
}
.main1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}
.image1{
    display: inline;
    margin-right: 20px;
    margin-left: 20px;
}
.main2{
    display: flex;
    justify-content: space-around;
}
.section1{
    background-color: rgb(190, 221, 240);
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
    margin-top: 10px;
}
.header1{
    background-color: blue;
    height: 10%;
    text-align: center;
    padding-top: 10px;
    margin-top: 10px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.footer{
    padding: 20px;
    background-color: rgb(230, 236, 240);
}
.Parent{
    text-align: start;
    display: flex;
    justify-content: space-around;
} 
.Parent ul{
    list-style: none;
    text-align: left;
    padding-right: 50px;
    color: grey;
}
.button p{
    color: grey;
}
.button button{
    background-color: #000370;
    color: white;
    padding: 10px 20px 10px 20px;
}
.icon{
    padding-top: 15px;
    font-size: x-large;
    color: grey;
}
.para{
    padding-left: 20px;
}
.para p{
    color: grey;
}
